<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Kotitas || Home</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>

<body>
    <header>

        <div class="header-izquierda">

            <div class="boton-abrir" id="open">

                <img src="../assets/img/menu.svg">

            </div>
        </div>

        <div class="header-derecha">

            <div class="header-logo">
                <img src="../assets/img/logo_mascotitas.svg">
            </div>
        </div>



        <nav id="main-menu">

            <div class="container-boton-cerrar">

                <div class="title-header">
                    <div class="titulo">+Kotitas Tu Amigo fiel</div>
                </div>

                <div class="boton-cerrar" id="close">

                    <img src="../assets/img/icons8-close.svg" alt="">

                </div>
            </div>

            <div class="enlances-container">
                <ol>
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li>
                        <a href="k.productos.html">Productos</a>
                    </li>
                    <li>
                        <a href="k.turnos.html">Turnos</a>
                    </li>
                </ol>
            </div>


            <div class="enlances-redsocial-container">
                <a href="https://instagram.com/" class="instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://whatsapp.com/" class="whatsapp" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </nav>

    </header>


    <div class="intermedio-container">
 
        <div class="title">
            <h2>Turnos de baños</h2>
        </div>

        <div class="home-slider">
                     
            <div class="index-slider">

                <div class="card-slider">


                    <div class="image">
                        <img src="" alt="">
                    </div>

                    <div class="card">
                        <div class="name">Raza: Caniche</div>
                        <div class="date"></div>
                        <div class="buy"></div>
                        <div class="button-slider">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider">

            </div>
        </div>



        <div class="title-alimento">
            <h2>Alimentos</h2>
        </div>

        <div class="container-alimento">

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="../assets/img/alimento-excellent..png" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Excenllent || Gato Adulto</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="../assets/img/alimento-proplan.png">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Pro Plan || Perro Adulto</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para perros</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="card-productos">

                <div class="img-alimento">
                    <img src="../assets/img/alimento-royal-cannin.png">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Royal Cannin || Mini Adulto</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para perros</div>
                        <div class="categoria-alimento">Cachorro</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="../assets/img/alimento.-dog-show.png">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Dog Show || Perro Adulto</div>
                    <div class="precio-alimento">1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para perros</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="title-alimento">
            <h2>Ropa</h2>
        </div>

        <div class="container-ropa">

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="../assets/img/alimento-proplan.png" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Ropa</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="../assets/img/alimento-royal-cannin.png" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Ropa</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Ropa</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Ropa</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

        </div>



        <div class="title-alimento">
            <h2>Juguetes Y Accesorios</h2>
        </div>

        <div class="container-accesorios">

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="../assets/img/alimento-proplan.png" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Juguete</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="../assets/img/alimento-royal-cannin.png" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Juguete</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Juguete</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Juguete</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <footer>
        <div class="end">

            <div class="title-footer">
                <h2>+Kotitas Tu Amigo Fiel</h2>
            </div>

            <div class="descripcion-footer">
                <div class="footer-date">Bs.Villa Crespo.Araoz 179.</div>
                <div class="footer-date">
                    Numero De
                    Tel: 45855-8287
                    Celular: +54 11 2514-6260.
                </div>
            </div>

            <div class="enlances-redsocial-container">
                <a href="https://instagram.com/" class="instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://whatsapp.com/" class="whatsapp" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </div>
    </footer>
    <script src="../assets/js/slider.js"></script>
</body>


</html>
