<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Kotitas || Home</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>

<body>

    <header>

        <div class="header-izquierda">

            <div class="boton-abrir" id="open">

                <img src="../assets/img/menu.svg" alt="">

            </div>
        </div>

        <div class="header-derecha">

            <div class="header-logo">
                <img src="../assets/img/logo_mascotitas.svg">
            </div>
        </div>

        <nav id="main-menu">

            <div class="container-boton-cerrar">

                <div class="title-header">
                    <div class="titulo">+Kotitas Tu Amigo fiel</div>
                </div>

                <div class="boton-cerrar" id="close">

                    <img src="../assets/img/icons8-close.svg" alt="">

                </div>
            </div>

            <div class="enlances-container">
                <ol>
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li>
                        <a href="k.productos.html">Productos</a>
                    </li>
                    <li>
                        <a href="k.turnos.html">Turnos</a>
                    </li>
                </ol>
            </div>


            <div class="enlances-redsocial-container">
                <a href="https://www.instagram.com/kotitasamigofiel/'" class="instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://whatsapp.com/" class="whatsapp" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </nav>

    </header>
    <div class="intermedio-container">

        <div class="card-baños">

            <div class="card-img-baños" id="pantalla">
                <div class="card">
                    <div class="image">
                        <img src="../assets/img/raza mestiza.jpg">
                    </div>
                    <div class="contenido">
                        <div class="title-baños">
                            <div class="name">Turnos de baños</div>
                        </div>
                        <div class="raza">Raza: Mestiza</div>
                        <div class="horario">Horario:</div>
                        <div class="precio"> 1000$</div>
                        <div class="date">Dato de la raza: El perro mestizo, también conocido como raza
                            mixta o perro
                            criollo, es aquel perro que no pertenece a ninguna raza en particular; estos
                            perros no
                            poseen rasgos característicos que puedan atribuirse a una raza específica, ya
                            que ellos,
                            como su nombre lo indica, vienen del mestizaje de varias razas de perros.</div>

                        <div class="button">
                            <button>PEDIR TURNO</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="../assets/img/raza caniche.jpg">
                    </div>
                    <div class="contenido">
                        <div class="title-baños">
                            <div class="name">Turnos de baños</div>
                        </div>
                        <div class="raza">Raza: Caniche</div>
                        <div class="horario">Horario:</div>
                        <div class="precio"> 1000$</div>
                        <div class="date">Dato de la raza: El caniche (en inglés, poodle) es una raza canina
                            que hasta
                            el siglo xv se consideró de uso exclusivo de los aristócratas y nobles. Fue un
                            perro
                            cobrador de aguas hasta el Renacimiento: recuperaban las presas ya cazadas que
                            habían caído
                            al agua, como patos y cisnes. Hoy en día se les encuentra frecuentemente en las
                            exposiciones
                            caninas de belleza. Existen cuatro variedades: grande, mediano, enano y toy.
                            Aparte del
                            caniche común, también existe la variedad Cordelé</div>
                        <div class="button">
                            <button>PEDIR TURNO </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../assets/img/raza golden retriever.jpg">
                    </div>
                    <div class="contenido">
                        <div class="title-baños">
                            <div class="name">Turnos de baños</div>
                        </div>
                        <div class="raza">Raza: Golden Retrievir</div>
                        <div class="horario">Horario:</div>
                        <div class="precio"> 1000$</div>
                        <div class="date">Dato de la raza: El golden retriever es una raza de perro cobrador
                            que se
                            desarrolló alrededor de 1850 en el Reino Unido, concretamente en Escocia Con sus
                            características de perro cobrador, sabueso, bloodhound y spaniel de agua, es un
                            hábil perro
                            de caza con aptitudes para el rastreo. Posee una disposición amigable y una
                            actitud que lo
                            ha convertido en una de las razas familiares más populares (mediante registro)
                            en los
                            Estados Unidos, Argentina y en Canadá​ el quinto más popular en Australia, y la
                            octava
                            raza más popular en el Reino Unido​</div>
                        <div class="button">
                            <button>PEDIR TURNO </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="../assets/img/perro-Schnauzer.jpg">
                    </div>
                    <div class="contenido">
                        <div class="title-baños">
                            <div class="name">Turnos de baños</div>
                        </div>
                        <div class="raza">Raza: Schnauzer</div>
                        <div class="horario">Horario:</div>
                        <div class="precio"> 1000$</div>
                        <div class="date">Dato de la raza: El Schnauzer pronunciado /ʃnaʊ̯t͡sɐ/ es una raza
                            canina que
                            se originó en Alemania durante los siglos XV y XVI​ Su nombre deriva del alemán
                            Schnauze​
                            'hocico', relacionado con Schnauzbart4​ y Schnurrbart5​ 'bigote', dada su muy
                            característica
                            barba que comienza en la parte superior del hocico en esta raza. Los Schnauzer
                            fueron
                            criados para perseguir y cazar.</div>
                        <div class="button">
                            <button>PEDIR TURNO </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mini-fotos">
                <div class="card">
                    <img src="../assets/img/raza mestiza.jpg" />
                    <div class="contenido">
                        <div class="raza">
                            Raza: Mestiza
                        </div>
                        <div class="horario">
                            Horario:
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/Perros-Caniches.jpg" />
                    <div class="contenido">
                        <div class="raza">
                            Raza: Caniche
                        </div>
                        <div class="horario">
                            Horario:
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/raza golden retriever.jpg" />
                    <div class="contenido">
                        <div class="raza">
                            Raza: Golden Retriever
                        </div>
                        <div class="horario">
                            Horario:
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/Peluquería-De-Perros.jpg" />
                    <div class="contenido">
                        <div class="raza">
                            Raza: Schnauzer
                        </div>
                        <div class="horario">
                            Horario:
                        </div>
                    </div>
                </div>

            </div>
            <div class="slider">
                <button id="prev">&#60;</button>
                <button id="next">></button>
            </div>
            <div class="time"></div>
        </div>
        <br>


        <div class="title-alimento">
            <h2>Alimentos</h2>
        </div>

        <div class="container-alimento">
            <div class="card-productos">
                <div class="img-alimento">
                    <img src="../assets/img/alimento-excellent..png" alt="">
                </div>
                <div class="contenido-alimento">
                    <div class="alimento">Excenllent || Raza Adulto</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Excellent</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">
                <div class="img-alimento">
                    <img src="../assets/img/alimento-proplan.png">
                </div>
                <div class="contenido-alimento">
                    <div class="alimento">Pro Plan || Raza Adulto</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Pro Plan</div>
                        <div class="categoria-alimento">Alimento para perros</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="card-productos">
                <div class="img-alimento">
                    <img src="../assets/img/alimento-royal-cannin.png">
                </div>
                <div class="contenido-alimento">
                    <div class="alimento">Royal Cannin || Raza Mini Adulto</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Royal Canin</div>
                        <div class="categoria-alimento">Alimento para perros</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">
                <div class="img-alimento">
                    <img src="../assets/img/alimento.-dog-show.png">
                </div>
                <div class="contenido-alimento">
                    <div class="alimento">Dog Chow || Raza Adulto</div>
                    <div class="precio-alimento">1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Dog Chow</div>
                        <div class="categoria-alimento">Alimento para perros</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-alimento">
            <h2>Ropa</h2>
        </div>

        <div class="container-ropa">

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Ropa</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Ropa</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Ropa</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Ropa</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

        </div>


        <div class="title-alimento">
            <h2>Juguetes y Accesorios</h2>
        </div>

        <div class="container-accesorios">

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Juguete</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Juguete</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Juguete</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="" alt="">
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Juguete</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br>

    <footer>
        <div class="end">

            <div class="title-footer">
                <h2>+Kotitas Tu Amigo Fiel</h2>
            </div>

            <div class="descripcion-footer">
                <div class="footer-date">Bs.Villa Crespo.Araoz 179.</div>
                <div class="footer-date">
                    Numero De
                    Tel: 45855-8287
                    Celular: +54 11 2514-6260.
                </div>
            </div>

            <div class="enlances-redsocial-container">
                <a href="https://www.instagram.com/kotitasamigofiel/" class="instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://whatsapp.com/" class="whatsapp" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </div>
    </footer>
    <script src="../assets/js/slider.js"></script>
    <script src="../assets/js/menu.js"></script>
</body>


</html>