<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Kotitas || Productos</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>

<body>
    <header>

        <div class="header-izquierda">

            <div class="boton-abrir" id="open">

                <img src="../assets/img/menu.svg">

            </div>
        </div>

        <div class="header-derecha">

            <div class="header-logo">
                <img src="../assets/img/logo_mascotitas.svg">
            </div>
        </div>



        <nav id="main-menu">

            <div class="container-boton-cerrar">

                <div class="title-header">
                    <div class="titulo">+Kotitas Tu Amigo fiel</div>
                </div>

                <div class="boton-cerrar" id="close">

                    <img src="../assets/img/icons8-close.svg" alt="">

                </div>
            </div>

            <div class="enlances-container">
                <ol>
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li>
                        <a href="k.productos.html">Productos</a>
                    </li>
                    <li>
                        <a href="k.turnos.html">Turnos</a>
                    </li>
                </ol>
            </div>


            <div class="enlances-redsocial-container">

                <a href="https://instagram.com/" class="instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://whatsapp.com/" class="whatsapp" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

            </div>

        </nav>

    </header>


    <div class="intermedio-container-2">

        <div class="section-index">

            <div class="title">
                <h3>Productos</h3>
            </div>


            <div class="menu-index">

                <div class="index-category" id="productos">
                    <label class="pb-2">Categoria</label>
                    <select form="controls" name="alimentos" id="filtros-categoria">
                     <option value="todos">--Todos--</option>
                     
                       
                    </select>

                </div>

            </div>
            
        </div>

        <div class="index-cards">

            <div class="card-productos">

                <div class="img-alimento">
                    <img src="../assets/img/alimento-proplan.png" >
                </div>

                <div class="contenido-alimento">
                    <div class="alimento">Juguete</div>
                    <div class="precio-alimento"> 1000ARS</div>
                    <div class="categoria">
                        <div class="categoria-alimento">Alimento Seco</div>
                        <div class="categoria-alimento">Alimento para gatos</div>
                        <div class="categoria-alimento">Adulto</div>
                    </div>
                    <div class="button-alimento">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <footer>    
        <div class="end">

            <div class="title-footer">
                <h2>+Kotitas Tu Amigo Fiel</h2>
            </div>

            <div class="descripcion-footer">
                <div class="footer-date">Bs.Villa Crespo.Araoz 179.</div>
                <div class="footer-date">
                    Numero De
                    Tel: 45855-8287
                    Celular: +54 11 2514-6260.
                </div>
            </div>

            <div class="enlances-redsocial-container">
                <a href="https://instagram.com/" class="instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://whatsapp.com/" class="whatsapp" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </div>
    </footer>
    <script src="../assets/js/productos_Array.js"></script>
    <script src="../assets/js/menu.js"></script>
</body>


</html>