<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Kotitas || Productos</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script type="module">
        import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js'
        import { getAnalytics } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-analytics.js'
        import { getAuth } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js'
        import { getFirestore } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js'
    </script>
    <link rel="icon" href="../assets/img/logo.png">
</head>

<body>
    <header>

        <div className="header-izquierda">

            <div className="boton-abrir" id="open">

                <img src="../assets/img/menu.svg">

            </div>
        </div>

        <div className="header-derecha">

            <div className="header-logo">
                <img src="../assets/img/logo_mascotitas.svg">
            </div>
        </div>



        <nav id="main-menu">

            <div className="container-boton-cerrar">

                <div className="title-header">
                    <div className="titulo">+Kotitas Tu Amigo fiel</div>
                </div>

                <div className="boton-cerrar" id="close">

                    <img src="../assets/img/icons8-close.svg" alt="">

                </div>
            </div>

            <div className="enlances-container">
                <ol>
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li>
                        <a href="k.productos.html">Productos</a>
                    </li>
                    <li>
                        <a href="k.turnos.html">Turnos</a>
                    </li>
                </ol>
            </div>


            <div className="enlances-redsocial-container">

                <a href="https://instagram.com/" className="instagram" target="_blank">
                    <i className="fa-brands fa-instagram"></i>
                </a>

                <a href="https://whatsapp.com/" className="whatsapp" target="_blank">
                    <i className="fa-brands fa-whatsapp"></i>
                </a>

            </div>

        </nav>

    </header>


    <div className="intermedio-container-2">

        <div className="section-index">
            <div className="title">
                <h3>Productos</h3>
            </div>
            <div className="index-category" id="productos">
                <label className="pb-2">Categoria</label>
                <select form="controls" className="edit-select" name="alimentos" id="filtros-categoria">
                    <option className="select" value="todos">--Todos--</option>


                </select>
                <div className="result" id="result"></div>
            </div>
        </div>

        <div className="index-cards">

            <div className="title">
                <h2>Alimentos</h2>
            </div>

            <div className="excellent">

                <div className="title">
                    <h1>Excellent</h1>
                    <h4>Alimento Para Perros</h4>
                </div>

                <div className="alimento-perro">

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/Excelent-cachorros-razas-pequenas-fotor-bg-remover-20240307153347.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Pequeña Puppy x Fraccion</div>
                            <div className="precio-alimento"> 1.916ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Puppy</div>
                                <div className="categoria-alimento">Raza Pequeña</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/Excelent-adulto-razas-pequenas-fotor-bg-remover-20240307174247.png">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Pequeña Adulto x Fraccion</div>
                            <div className="precio-alimento"> 1.919RS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Grande</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/raza-grande-puppy.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Grande Puppy x Fraccion</div>
                            <div className="precio-alimento"> 1.856ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Puppy</div>
                                <div className="categoria-alimento">Raza Grande</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/Excelent-adulto-razas-medianas-y-grandes-fotor-bg-remover-20240307173236.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Grande Adulto</div>
                            <div className="precio-alimento"> 1.683ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Grande</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/excellent-senior-dog-adulto-7-anos-x-15-kg-fotor-bg-remover-2024030894733.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Grande Adulto Senior (+7Años) X Fraccion</div>
                            <div className="precio-alimento"> 1.643ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Grande</div>
                                <div className="categoria-alimento">Senior</div>

                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/7613035337817-1-fotor-bg-remover-2024030895647.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Grande Adulto Reduced Calorie X Fraccion</div>
                            <div className="precio-alimento"> 1.683ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Grande</div>
                                <div className="categoria-alimento">Reduced Calorie</div>

                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/alimento-skin-scare.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Grande Adulto Skin Care Cordero X Fraccion</div>
                            <div className="precio-alimento"> 1.683ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Grande</div>
                                <div className="categoria-alimento">Skin Care</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div className="title">
                    <h4>Alimento Para Gatos</h4>
                </div>

                <div className="alimento-gato">

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/Gatitos-Pollo-y-Arroz-excellent.jpg-768x768-fotor-bg-remover-20240308102231.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Kitten X Fraccion</div>
                            <div className="precio-alimento"> 1.683ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Kitten</d>
                                </div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>

                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/alimento-excellent..png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Cat Adulto X Fraccion</div>
                            <div className="precio-alimento"> 1.683ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Adulto</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/excellent-cat-urinary-red-calories-x-75-kg-fotor-bg-remover-2024030811413.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Adulto Urinary X Fraccion</div>
                            <div className="precio-alimento"> 1.683ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Urinary</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>


                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/sterilized-fotor-bg-remover-20240308111330.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Adulto Sterilized X Fraccion</div>
                            <div className="precio-alimento"> 1.683ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Sterilized</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/FT-E-commerce-fotor-bg-remover-20240308111533.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Excellent || Raza Adulto Skin Care X Fraccion</div>
                            <div className="precio-alimento"> 1.683ARS</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Excellent</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Skin Care</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div className="pro-plan">

                <div className="title">
                    <h1>Pro Plan</h1>
                    <h4>Alimento Para Perros</h4>
                </div>
                <div className="alimento-perro">

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/1-1-fotor-bg-remover-2024030811262.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Pequeña Puppy x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Puppy</div>
                                <div className="categoria-alimento">Raza Pequeña</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>


                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/ADULTO_razas_pequenas_front_proplan.png-fotor-bg-remover-2024030811294.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Pequeña Adulto x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Pequeña</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/ProPlan-Puppy-Razas-Medianas-01.png-fotor-bg-remover-20240308113244.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Mediana Puppy x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Puppy</div>
                                <div className="categoria-alimento">Raza Mediana</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/alimento-proplan.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Mediana Adulto x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Mediana</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/puppy_razas_grandes_front_por_plan.png-fotor-bg-remover-20240308113751.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Grande Puppy x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Puppy</div>
                                <div className="categoria-alimento">Raza Grande</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/purina-pro-plan-adulto-razas-grandes-153-kg-fotor-bg-remover-20240308115114.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Grande Adulto x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Grande</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/Reduced-Calorie-Pavo-&-Arroz-M_L_1.png-fotor-bg-remover-2024030919115.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Grande Adulto Reduced Calorie x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Grande</div>
                                <div className="categoria-alimento">Reduced Calorie</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/pp-sensitive-skin-raz-peq-fotor-bg-remover-20240311101241.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Pequeña Adulto Sensitive Skin x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Pequeña</div>
                                <div className="categoria-alimento">Sensitive Skin</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/sensitive-skin-para-pagina-weeb.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Medianas Y Grande Adulto Sensitive Skin x Fraccion
                            </div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Grande</div>
                                <div className="categoria-alimento">Raza Mediana</div>
                                <div className="categoria-alimento">Sensitive Skin</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/proplanexigent.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Pequeña Adulto Exigent x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Pequeña</div>
                                <div className="categoria-alimento">Exigent</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div className="title">
                    <h4>Alimento Para Gatos </h4>
                </div>

                <div className="alimento-gato">

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/Kitten-proplan.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Kitten x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Kitten</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/GATO-ADULTO-fotor-bg-remover-20240311103613.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Adulto x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Adulto</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/proplan-sterilized.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Adulto Sterilized x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Sterilized</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/proplancaturinary.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Adulto Urinary x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Urinary</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/imG/adulto_pollo_alimento_humedo_frente_pro_plan.jpg-fotor-bg-remover-20240311112831.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Adulto Alimento Humedo(Pollo) </div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Humedo</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Adulto</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>


                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/adulto_salmon_humedo_frente_pro_plan.jpg-fotor-bg-remover-20240311113138.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Pro Plan || Raza Adulto Alimento Humedo(Salmon) </div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Humedo</div>
                                <div className="categoria-alimento">Pro Plan</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Adulto</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div className="eukanuba">

                <div className="title">
                    <h1>Eukanuba</h1>
                    <h4>Alimento Para Perros</h4>
                </div>

                <div className="alimento-perro">

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/PUPPY-SB-3K-1.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Eukanuba || Raza Pequeña Puppy x Fraccion</div>
                            <div className="precio-alimento">3.600$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Eukanuba</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Puppy</div>
                                <div className="categoria-alimento">Raza Pequeña</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/eukanuba-adulto-raza-pequeña.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Eukanuba || Raza Pequeña Adulto x Fraccion</div>
                            <div className="precio-alimento">3.600$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Eukanuba</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Pequeña</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/eukanuba-raza-mediana-cachorro-medium-breed-puppy1-7132b04e8d79baf55316200662796788-1024-1024-fotor-bg-remover-20240312104846.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Eukanuba || Raza Mediana Puppy x Fraccion</div>
                            <div className="precio-alimento">4.600$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Eukanuba</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Puppy</div>
                                <div className="categoria-alimento">Raza Mediana</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/ar-l-eukanuba-adult-medium-breed-packshot-fotor-bg-remover-20240312105055.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Eukanuba || Raza Mediana Adulto x Fraccion</div>
                            <div className="precio-alimento">4.600$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Eukanuba</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Mediana</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    
                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/senior-medium-breed-eukanuba1-55857b21e8849d289816244684834356-640-0.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Eukanuba || Raza Mediana Adulto Senior x Fraccion</div>
                            <div className="precio-alimento">4.600$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Eukanuba</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Mediana</div>
                                <div className="categoria-alimento">Senior</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div className="dog-chow">

                <div className="title">
                    <h1>Dog Chow</h1>
                    <h4>Alimento Para Perros</h4>
                </div>

                <div className="alimento-perro">

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/dog-chow-cachorro-small1-133b5d5cc38df65b9315797294117227-480-0-fotor-bg-remover-20240311143245.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Dog Chow || Raza Pequeña Puppy x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Dog Chow</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Puppy</div>
                                <div className="categoria-alimento">Raza Pequeña</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/ad-raza-peq-fotor-bg-remover-20240311142851.png" alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Dog Chow || Raza Pequeña Adulto x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Dog Chow</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Pequeña</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img//alimento-dog-chow-adultos-razas-medianas-y-grandes-00768a93ee32e75854169923749257281-ba4a7eff6daf0ce35b16992375120130-1024-1024-fotor-bg-remover-20240311145643.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Dog Chow || Raza Mediana Y Grande Puppy x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Dog Chow</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Puppy</div>
                                <div className="categoria-alimento">Raza Mediana Y Grande</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/dog-chow-adulto-raza-mediana-y-grande-con-colorantes-x-15-kg-fotor-bg-remover-20240311162813.png"
                                alt="">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Dog Chow || Raza Mediana Y Grande Adulto x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Dog Chow</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Raza Mediana Y Grande</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>


                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/dogchowsincolorante-fotor-bg-remover-2024031116493.png">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Dog Chow || Raza Pequeña Adulto Sin Colorante x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Dog Chow</div>
                                <div className="categoria-alimento">Alimento Para Perros</div>
                                <div className="categoria-alimento">Adulto</div>
                                <div className="categoria-alimento">Sin Colorante</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div className="title">
                    <h1>Cat Chow</h1>
                    <h4>Alimento Para Gatos</h4>
                </div>

                <div className="alimento-gato">

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/CAT-CHOW-GATITO.png">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Cat Chow || Cat Kitten x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Cat Chow</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Kitten</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div className="card-productos">
                        <div className="img-alimento">
                            <img src="../assets/img/purina-cat-chow-gatos-adultos-carne-y-pollo-animall-com-ar-bahia-blanca-4582b54c5cd8c90b2816999620320419-1024-1024-fotor-bg-remover-20240311172638.png">
                        </div>
                        <div className="contenido-alimento">
                            <div className="alimento">Cat Chow || Cat Adult x Fraccion</div>
                            <div className="precio-alimento">3.000$</div>
                            <div className="categoria">
                                <div className="categoria-alimento">Alimento Seco</div>
                                <div className="categoria-alimento">Cat Chow</div>
                                <div className="categoria-alimento">Alimento Para Gatos</div>
                                <div className="categoria-alimento">Adult</div>
                            </div>
                            <div className="button-alimento">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


    <footer>
        <div className="end">

            <div className="title-footer">
                <h2>+Kotitas Tu Amigo Fiel</h2>
            </div>

            <div className="descripcion-footer">
                <div className="footer-date">Bs.Villa Crespo.Araoz 179.</div>
                <div className="footer-date">
                    Numero De
                    Tel: 45855-8287
                    Celular: +54 11 2514-6260.
                </div>
            </div>

            <div className="enlances-redsocial-container">
                <a href="https://instagram.com/" className="instagram" target="_blank">
                    <i className="fa-brands fa-instagram"></i>
                </a>
                <a href="https://whatsapp.com/" className="whatsapp" target="_blank">
                    <i className="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </div>
    </footer>
    <script src="../assets/js/productos_Array.js"></script>
    <script src="../assets/js/menu.js"></script>
    <script src="../assets/js/bundle.js"></script>
</body>


</html>