<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Kotitas || Productos</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>

<body>
    <header>



        <div class="header-izquierda">

            <div class="boton-abrir" id="open">

                <img src="../assets/img/menu.svg" alt="">

            </div>
        </div>

        <div class="header-derecha">

            <div class="header-logo">
                <img src="../assets/img/logo_mascotitas.svg">
            </div>
        </div>

        <nav id="main-menu">

            <div class="container-boton-cerrar">

                <div class="title-header">
                    <div class="titulo">+Kotitas Tu Amigo fiel</div>
                </div>

                <div class="boton-cerrar" id="close">

                    <img src="../assets/img/icons8-close.svg" alt="">

                </div>
            </div>

            <div class="enlances-container">
                <ol>
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li>
                        <a href="k.productos.html">Productos</a>
                    </li>
                    <li>
                        <a href="k.turnos.html">Turnos</a>
                    </li>
                </ol>
            </div>


            <div class="enlances-redsocial-container">
                <a href="https://instagram.com/" class="instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://whatsapp.com/" class="whatsapp" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </nav>

    </header>


    <h1>Productos</h1>



    <div class="container-intermedio">


        <div class="container-left">
                <div class="index-presentancion">
                    <h2>Productos</h2>
                </div>

                <div class="index-menu">
                    <div class="category">
                        <div class="category-productos">Alimentos</div>
                        <div class="category-productos">Ropa</div>
                        <div class="category-productos">Juguetes</div>
                        <div class="category-productos">Accesorios</div>
                    </div>
                </div>
        </div>

        <div class="container-right">
          <div class="index-presentancion">
            <h2>Aca esta las cards</h2>

          </div>
        </div>


    </div>




    <footer>
        <div class="end">

            <div class="title-footer">
                <h2>+Kotitas Tu Amigo Fiel</h2>
            </div>

            <div class="descripcion-footer">
                <div class="footer-date">Bs.Villa Crespo.Araoz 179.</div>
                <div class="footer-date">
                    Numero De
                    Tel: 45855-8287
                    Celular: +54 11 2514-6260.
                </div>
            </div>

            <div class="enlances-redsocial-container">
                <a href="https://instagram.com/" class="instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://whatsapp.com/" class="whatsapp" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </div>
    </footer>

</body>
<script src="../assets/js/index.js"></script>

</html>