@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');


body {
    font-family: Poppins;
    font-size: 20px;
    overflow-x: hidden;
    background-color: #E7E6EF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0,0.24);
    position: fixed;
    z-index: 110;
    height: 100px;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;

}

.header-derecha {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header-logo{
    height: 70%;
    
}

.header-logo img {
    height: 100%;
}

#main-menu {

    background-color: white;
    position: fixed;
    height: 100%;
    top: 0;
    left: -80%;
    width: 80%;
    max-width: 400px;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    transition: 0.5;

}



#main-menu .container-boton-cerrar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    display: flex;
}


.title-header .titulo {
    font-size: 1.4rem;
    padding: 0 10px;

}

#main-menu.menu-open {
    left: 0;
    transition: all 0.5s linear;
}

#main-menu li {

    list-style: none;

}

#main-menu a {

    text-decoration: none;
    position: relative;
    left: 10px;
    text-decoration: none;
    position: relative;
    left: 10px;
}



a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    font-size: 25px;
    transition: 0.4s;
}


a:link {
    color: black;
}

a:visited {
    color: black;
}

a:focus {
    border-bottom: 1px solid;
    background: white;
    color: black;
}


a:hover {
    border-bottom: 1px solid;
    background: white;
    color: black;
    border-radius: 10px;
    transition: 0, 9;
}




footer {
    background-color: rgb(0, 0, 0);

}

.descripcion-footer {
    color: white;
}

.title-footer {
    color: white;
    font-size: 1.4rem;
    padding: 0 10px;
}

.footer-date {
    font-size: 0.9rem;
    padding: 0 20px;
}

@media screen and (max-width:600px) {

    .mini-fotos {
        display: none !important;
    }


    .card-baños .card-img-baños .card .contenido {
        padding: 10%;
        top: 10%;
    }



    .menu-index {
        display: grid;
        grid-column: auto;
        gap: 10px;
        padding-top: 1%;
        padding-right: 140px;
    }


    .slider {
        top: 50%;
        right: 0;
        width: 100%;
        justify-content: space-between;
        max-width: 100%;
    }

    .alimento-perro,
    .alimento-gato {
        justify-content: center;
    }


}