@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');


body {
    font-family: Poppins;
    font-size: 20px;
    overflow-x: hidden;
    background-color: #E7E6EF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-baños {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.index-baños {
    background-color: white;
    padding: 1.2rem;
    height: 250px;
    width: 550px;
    border-radius: 20px;
    margin: 20px;

}

.animal,
.adoption,
.description-baños,
.buttom-baños {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}


.description-baños,
.adoption {
    color: silver;
    margin-top: 10px;
}

.bt-button {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  transition: 0.3s;
}

.bt-button:hover{
    transition: 0.3s;
    color: black;
    background-color: white;
}

.buttom-baños {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: rgb(0, 0, 0);

}

.descripcion-footer {
    color: white;
}

.title-footer {
    color: white;
    font-size: 1.4rem;
    padding: 0 10px;
}

.footer-date {
    font-size: 0.9rem;
    padding: 0 20px;
}

@media screen and (max-width:600px) {

    .index-card{
        display: none;
    }

    .index-baños {
        height: 350px;
        width: 400px;
        margin: 6px;
        text-align: center;

    }


    .container-baños {
        display: block;
    }

    .container-img-baños {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .animal,
    .adoption {
        font-size: 1.4em;
    }


    .buttom-baños button {
        height: 50px;
       
        font-size: 1.2em;
    }




}