<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Kotitas || Home</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>

<body>
    <header>
        
        <p>+Kotitas.</p>
        <p>.Tu Amigo Fiel</p>

        <div class="img">
            <img src="../assets/img/principal.jpg">
        </div>
        
        <li>
            <ul>
                <div class="enlances-container">
                    <a href="home.html">Home</a>
                    <a href="k.productos.html">Productos</a>
                    <a href="k.turnos.html">Turnos</a>
                </div>
            </ul>
        </li>
             <div class="enlances-redsocial-container">
                <a href="https://instagram.com/" class="instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://whatsapp.com/" class="whatsapp" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
             </div>
    </header>

    <div class="intermedio-container">
   
        <h1>Estamos al cuidado</h1>
        <h1>De tus +Kotitas</h1> 

        <div class="card-baños">
            <br>
            <h1>Baños</h1>
            <br>
            
            <div class="card-1"></div>
            <div class="card-1"></div>
            <div class="card-1"></div>
            <div class="card-1"></div>
        </div>
               
           
     </div>

    <footer></footer>
</body>

</html>