.cardBaños {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: calc(100% - 100px) !important;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
}   

.CardBañosTittles {
    text-align: center;
}

.imgBaños {
    display: flex;
    justify-content: center;
}


.imgBaños Image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.razaTurnos {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.precioTurnos {
    font-size: 30px;
    color:rgb(48, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn button {
    font-size: 20px;
    width: 200px;
    height: 40px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.btn button:hover {
    transition: 0.3s;
    background-color: white;
    color: black;
}

@media screen and (max-width: 600px) {


    .cardBaños {
        display: grid !important;
        columns: auto;
        justify-content: center;
        height: 100%;
        width: 100%;
    }


    .imgBaños {
        display: flex;
        justify-content: center;
        width: 320px;
        background-color: silver;
    }


    .contenidoTurnos {
        text-align: center;
    }

    .razaTurnos {
        font-size: 35px;
    }

    .precioTurnos {
        font-size: 25px;
    }

}