.testimoniosTitles{
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}


.testimonios{
    height: 400px;
    background-color: #f9f9f9;
    padding: 25px 28px;
    display: flex !important;
    margin: 6px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    width: calc(100% - 15px) !important;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
    
}

.author {
    display: flex;
    gap: 10px;
}

.author p{
    line-height: 1.68;
    font-size: 17px;
}

.author h3{
    font-size: var(---fs-20);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    
    .testimonios{
        overflow-x: hidden;
    }
}